.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.body {
    position: relative;
    margin-top: 50px;
}

.question {
    font-size: 30px;

}

.answers {
    font-size: 30px;
    position: relative; 
    margin-top: 30px;
}

.answer1 {
    font-size: 24px;
}

.answer2 {
    font-size: 24px;
}

.answer3 {
    font-size: 24px;
}

.answer4 {
    font-size: 24px;
}

.timeRem {
    position: relative;
    margin-top: 80px;
}